*{
    background-color: rgb(164, 231, 200);
    font-size: 20px;
}
h1{
    font-size: 100px;
    text-align: center;
    background-color: darkgreen;
}

h2{
    font-size: 60px;
    margin-bottom: 2px;
}

img{
    float: left;
    height: auto;
    width: 170px;
    border: 14px green ridge;
}
.right{
    
    border: 5px rgb(182, 11, 5) double;
    
}
p{
    margin: 2px auto;
    border: 2px double red;
    background-color: rgb(248, 242, 242);
}
ul,ol{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    display: inline-block;
    line-height: 100px;
    
}

li{
    display: inline;
    margin-left: 15px;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

strong{
    display: inline;
    background-color: black;
    color:red;
    
}

a{
    text-decoration: none;
    font-size: 60px;
    background-color: rgb(211, 143, 211);
    color: white;
    border-radius: 20px;
    padding: 10px;
 
}



